/* layout for search container */
.search-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
}

/* layout for entire container */
.current-weather-container{
    display: flex;
    
}

/* weather layout */
.current-weather-display{
    display: none;
    flex-direction: column;
    margin: 10px;
    flex-grow: 1;
    background: #27a9ff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
}

/* previous searches layout */
.history-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

/* forecast layout */
.forecast-display{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

/* layout for forecast card */
.forecast-card{
    display: flex;
    flex-direction: column;
    width: 150px;
    background: #27a9ff;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
}

.display-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* weather icon would be too huge otherwise */
.main-weather-icon{
    height: 75px;
    width: 75px;
}